.article-post {
	font-family: Montserrat;
	font-weight: 400;
	padding-top: 20px;
	color: $white-color;
	.container {
		padding: 0 40px;
	}
	@media (min-width: $breakpoint768) {
		padding-top: 50px;
		padding-bottom: 50px;
		.container {
			padding: 0;
		}
	}
	@media (min-width: $breakpoint1310) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media (min-width: $breakpoint1920) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	&__head {
		position: relative;
		height: 145px;
		border-radius: 10px;
		padding: 20px 30px 25px;
		overflow: hidden;
		background: url('../@img/blog/article_image.jpg') 0 0/cover no-repeat;
		margin-bottom: 22px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 40px;
			height: 170px;
		}
		@media (min-width: $breakpoint1310) {
			height: 300px;
			margin-bottom: 30px;
			padding: 60px 50px;
		}
		@media (min-width: $breakpoint1920) {
			height: 350px;
			padding: 60px 70px;
			margin-bottom: 60px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(90deg, #0B061F 0.4%, rgba(19, 12, 48, 0) 74.47%);
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		margin-bottom: 15px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 0;
		}
	}

	&__tag {
		display: flex;
		margin-bottom: 15px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 0;
		}
	}

	&__name {
		margin-bottom: 15px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 0;
		}
		// font-size: 0;
		// max-width: 560px;
	}

	&__title, &__subtitle {
		// display: inline-block;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		@media (min-width: $breakpoint1310) {
			font-size: 24px;
			line-height: 30px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 40px;
			line-height: 45px;
		}
	}

	&__subtitle {
		font-weight: 400;
	}

	&__inner {
		@media (min-width: $breakpoint768) {
			margin-bottom: 10px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 30px;
		}
	}

	&__box {
		@media (min-width: $breakpoint768) {
			display: grid;
			grid-template-columns: 70% 1fr;
			gap: 60px;
		}
		@media (min-width: $breakpoint1310) {
			grid-template-columns: 72% 1fr;
			gap: 100px;
		}
		@media (min-width: $breakpoint1920) {
			gap: 140px;
		}
	}

	&__body {
		font-size: 12px;
		line-height: 18px;
		color: #9B99AD;
		@media (min-width: $breakpoint1310) {
			font-size: 16px;
			line-height: 30px;
		}
	}

	&__body-content {
		margin-bottom: 15px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 20px;
		}
	}

	&__body-content-title {
		margin-top: 17px;
		margin-bottom: 15px;
		font-size: 16px;
		color: $white-color;
		@media (min-width: $breakpoint1310) {
			margin-top: 25px;
			margin-bottom: 20px;
			font-size: 24px;
		}
	}

	&__body-img {
		height: 145px;
		overflow: hidden;
		border-radius: 10px;
		@media (min-width: $breakpoint768) {
			height: 200px;
		}
		@media (min-width: $breakpoint1310) {
			height: 350px;
		}
		@media (min-width: $breakpoint1920) {
			margin-top: 30px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body-list {
		li {
			position: relative;
			padding-left: 27px;
			&::before {
				content: '';
				position: absolute;
				top: 6px;
				left: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: $white-color;
				@media (min-width: $breakpoint1310) {
					width: 7px;
					height: 7px;
					top: 10px;
				}
			}
		}
	}

	&__footer {
		margin-bottom: 40px;
		@media (min-width: $breakpoint768) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 50px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 60px;
		}
	}

	&__footer-tags {
		margin-bottom: 20px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 0;
		}
		.tag {
			margin-bottom: 10px;
			@media (min-width: $breakpoint768) {
				margin-bottom: 0;
			}
		}
	}

	&__footer-social {
		display: flex;
		align-items: center;
		span {
			font-weight: 700;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: $white-color;
			margin-right: 12px;
		}
	}

	&__footer-links {
		display: flex;
		a {
			display: block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			@media (min-width: $breakpoint1310) {
				width: 26px;
				height: 26px;
				margin-top: 10px;
			}
			@media (min-width: $breakpoint1920) {
				margin-top: 25px;
				margin-right: 12px;
				width: 40px;
				height: 40px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		svg {
			width: 16px;
			height: 16px;
			@media (min-width: $breakpoint1310) {
				width: 26px;
				height: 26px;
			}
			@media (min-width: $breakpoint1920) {
				width: 40px;
				height: 40px;
			}
		}
	}

	&__more {}

	&__more-title {
		margin-bottom: 30px;
	}

	&__more-posts {
		display: grid;
		@media (min-width: $breakpoint768) {
			grid-template-columns: repeat(3, 1fr);
			gap: 44px;
		}
		@media (min-width: $breakpoint1310) {
			gap: 50px;
		}
		@media (min-width: $breakpoint1920) {
			gap: 80px;
		}
	}

	&__aside {
		display: none;
		@media (min-width: $breakpoint1310) {
			display: block;
		}
	}
	&__aside-social {
		font-size: 0;
		line-height: 10px;
		margin-bottom: 30px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 70px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 60px;
		}
	}
	&__aside-title {
		margin-bottom: 15px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 30px;
		}
	}
	&__aside-social-item {
		font-size: 14px;
		display: inline-block;
		margin-right: 12px;
		@media (min-width: $breakpoint1920) {
			margin-right: 14px;
		}
		&:last-child {
			margin-right: 0;
		}
		a {
			display: block;
			width: 16px;
			height: 16px;
			@media (min-width: $breakpoint1310) {
				width: 26px;
				height: 26px;
			}
			@media (min-width: $breakpoint1920) {
				width: 40px;
				height: 40px;
			}
		}
		svg {
			width: 16px;
			height: 16px;
			@media (min-width: $breakpoint1310) {
				width: 26px;
				height: 26px;
			}
			@media (min-width: $breakpoint1920) {
				width: 40px;
				height: 40px;
			}
		}
	}
	&__aside-social-icon {
		width: 40px;
		height: 40px;
		fill: $white-color;
	}
}

//aside-post
.aside-post {
	margin-bottom: 15px;
	@media (min-width: $breakpoint1310) {
		margin-bottom: 40px;
	}
	@media (min-width: $breakpoint1920) {
		margin-bottom: 30px;
	}
	&__tag {
		margin-bottom: 10px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 15px;
		}
	}

	&__content {
		display: block;
		font-size: 11px;
		line-height: 14px;
		margin-bottom: 10px;
		color: $white-color;
		@media (min-width: $breakpoint1310) {
			font-size: 14px;
			kh: 18px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 15px;
		}
	}

	&__content-title {
		font-weight: 700;
	}

	&__content-subtitle {
	}

	&__date {
	}
}

.article-post-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	color: $white-color;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: $white-color;
	}
	@media (min-width: $breakpoint1310) {
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 20px;
	}
	@media (min-width: $breakpoint1920) {
		font-size: 36px;
		line-height: 44px;
		padding-bottom: 30px;
	}
}