.posts {
	@media (min-width: $breakpoint768) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
.post {
	color: $white-color;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	margin-left: 1px;
	&:last-child {
		margin-bottom: 0;
	}
	@media (min-width: $breakpoint768) {
		margin-bottom: 0;
		margin-left: 0;
	}
	// background-color: #2095D9;

	&__image {
		display: block;
		color: $white-color;
		min-height: 150px;
		max-width: 100%;
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 15px;
		flex-basis: 0;
		@media (min-width: $breakpoint768) {
			margin-bottom: 2px;
			min-height: 80px;
		}
		@media (min-width: $breakpoint1310) {
			min-height: 145px;
			margin-bottom: 15px;
		}
		@media (min-width: $breakpoint1920) {
			min-height: 205px;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		@media (min-width: $breakpoint768) {
			height: 100%;
		}
	}
	&__tag {
		margin-bottom: 5px;
		@media (min-width: $breakpoint1920) {
			margin-bottom: 10px;
		}
	}
	&__tag-category {
		font-weight: 700;
		font-size: 12px;
		padding: 2px 5px;
		line-height: 15px;
		margin: 0 5px 5px 0;
		@media (min-width: $breakpoint768) {
			font-size: 8px;
			line-height: 10px;
			padding: 2px 5px;
		}
		@media (min-width: $breakpoint1310) {
			font-size: 12px;
			line-height: 20px;
			padding: 0 5px;
		}
	}
	&__inner {
		color: $white-color;
		margin-bottom: 10px;
		flex: 1 1 auto;
		@media (min-width: $breakpoint1920) {
			margin-bottom: 15px;
		}
	}
	&__title, &__subtitle {
		color: inherit;
		font-size: 14px;
		line-height: 18px;
		@media (min-width: $breakpoint768) {
			font-size: 11px;
			line-height: 14px;
		}
		@media (min-width: $breakpoint1310) {
			font-size: 14px;
			line-height: 18px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	&__title {
		font-weight: 700;
	}
	&__subtitle {
		font-weight: 400;
		color:rgb(155, 153, 173);
	}
	&__date {
		display: flex;
		align-items: center;
		color:rgb(155, 153, 173);
		span {
			display: inline-block;
			margin-left: 5px;
			font-weight: 600;
			font-size: 10px;
			line-height: 12px;
			@media (min-width: $breakpoint1310) {
				margin-left: 10px;
			}
			@media (min-width: $breakpoint1920) {
				font-size: 12px;
				line-height: 15px;
			}
		}
		svg {
			width: 8px;
			height: 8px;
			@media (min-width: $breakpoint1310) {
				width: 10px;
				height: 10px;
			}
		}
	}
}