.partners {
	padding-top: 160px;
	padding-bottom: 125px;
	&__title {
		margin-bottom: 70px;
	}

	&__companies {
	}

	&__companies-intel {
	}

	&__companies-asus {
	}

	&__companies-invidia {
	}

	&__companies-binb {
	}
}
