.partners {
	padding-top: 65px;
	padding-bottom: 85px;
	@media (min-width: $breakpoint1310) {
		padding-top: 140px;
		padding-bottom: 70px;
	}
	@media (min-width: $breakpoint1920) {
		padding-top: 160px;
		padding-bottom: 125px;
	}
	&__title {
		margin-bottom: 50px;
		text-align: center;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 70px;
		}
	}

	&__companies {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 60px;
		align-items: center;
		justify-items: center;
		max-width: 662px;
		margin: 0 auto;
		@media (min-width: $breakpoint1920) {
			max-width: 1000px;
		}
	}

	&__companies-intel {
		max-width: 93px;
		@media (min-width: $breakpoint1920) {
			max-width: 158px;
		}
		svg {
			width: 100%;
			height: auto;
		}
	}

	&__companies-asus {
		max-width: 102px;
		@media (min-width: $breakpoint1920) {
			max-width: 175px;
		}
		svg {
			width: 100%;
			height: auto;
		}
	}

	&__companies-invidia {
		max-width: 161px;
		@media (min-width: $breakpoint1920) {
			max-width: 275px;
		}
		svg {
			width: 100%;
			height: auto;
		}
	}

	&__companies-binb {
		max-width: 127px;
		@media (min-width: $breakpoint1920) {
			max-width: 217px;
		}
		svg {
			width: 100%;
			height: auto;
		}
	}
}
