.plan {
	position: relative;
	padding: 38px 0 0;
	color: $white-color;
	@media (min-width: $breakpoint768) {
		padding: 65px 0 70px 0;
	}
	@media (min-width: $breakpoint1310) {
		padding: 93px 0 90px 0;
	}
	@media (min-width: $breakpoint1920) {
		padding: 160px 0 140px 0;
	}
	&__title {
		text-align: center;
		margin-bottom: 33px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 85px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 60px;
		}
	}

	&__title-title {
		margin-bottom: 5px;
		@media (min-width: $breakpoint1920) {
			margin-bottom: 20px;
		}
	}

	&__title-txt {
		font-size: 14px;
		line-height: 24px;
		@media (min-width: $breakpoint768) {
			font-size: 16px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 24px;
		}
	}

	&__cards {
		max-width: 480px;
		margin: 0 auto;
		display: flex;
		padding: 0;
		position: relative;
		@media (min-width: $breakpoint1920) {
			max-width: 735px;
			padding-bottom: 57px;
			padding-top: 37px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 2px;
			height: 100%;
			background: url('@img/line.svg') 0 0/cover no-repeat;
		}
	}

	&__card {
		flex: 1 1 50%;
	}

	&__service {
		text-align: center;
		margin-top: 42px;
		// display: none;
		// @media (min-width: $breakpoint1310) {
		// 	display: block;
		// }
		@media (min-width: $breakpoint1920) {
			margin-top: 25px;
		}
	}

	&__subscrible {
		margin-bottom: 40px;
		@media (min-width: $breakpoint1920) {
			margin-bottom: 25px;
		}
	}

	&__subscrible-btn {
	}

	&__subscrible-txt {
		font-family: Montserrat;
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		max-width: 600px;
		margin: 0 auto;
		opacity: .7;
		@media (min-width: $breakpoint768) {
			min-width: 300px;
			font-size: 14px;
		}
	}

	&__core {
		position: static;
		margin-top: 27px;
		height: 100%;
		max-width: 100%;
		width: 100%;
		background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (min-width: $breakpoint768) {
			margin-top: 105px;
		}
		@media (min-width: $breakpoint1310) {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 48.78%, rgba(255, 255, 255, 0) 100%);
			position: absolute;
			top: 0;
			left: 0;
			max-width: 24%;
			margin-top: 0;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 28%;
		}
	}

	&__features {
		max-width: 241px;
		margin: 0 auto;
		padding: 23px 0 28px;
		font-family: Montserrat;
		@media (min-width: $breakpoint768) {
			max-width: 390px;
			padding: 41px 0 50px;
		}
		@media (min-width: $breakpoint1310) {
			max-width: 260px;
			padding: 0;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 390px;
		}
	}

	&__features-title {
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 12px;
		@media (min-width: $breakpoint1920) {
			font-size: 24px;
			margin-bottom: 20px;
		}
	}

	&__features-list {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		@media (min-width: $breakpoint1920) {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__features-item {
		padding: 13px 0;
		position: relative;
		@media (min-width: $breakpoint1920) {
			padding: 20px 0;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, 0.2);
		}
	}
}


//card
.plan-card {
	text-align: center;
	&:last-child {
		.plan-card__title-chip {
			padding: 2px 24px;
			background: linear-gradient(90deg, #2095D9 0%, #5C35EE 100%);
			@media (min-width: $breakpoint768) {
				padding: 2px 33px;
			}
			@media (min-width: $breakpoint1920) {
				padding: 4px 43px;
			}
		}
	}
	&__title {
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 16px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 30px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 47px;
		}
	}

	&__title-title {
		font-size: 20px;
		margin-bottom: 10px;
		@media (min-width: $breakpoint768) {
			font-size: 30px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 40px;
		}
	}

	&__title-chip {
		font-size: 10px;
		line-height: 12px;
		display: inline-block;
		padding: 2px 16px;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 50px;
		@media (min-width: $breakpoint768) {
			font-size: 12px;
			line-height: 19px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 16px;
			padding: 4px 19px;
		}
	}

	&__price {
		margin-bottom: 6px;
		// @media (min-width: $breakpoint768) {
		// 	margin-bottom: 10px;
		// }
		// @media (min-width: $breakpoint1920) {
		// 	margin-bottom: 65px;
		// }
	}

	&__price-price {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;
		@media (min-width: $breakpoint768) {
			font-size: 40px;
			line-height: 48px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 50px;
			line-height: 61px;
		}
		sup {
			font-size: 12px;
			font-weight: 400;
			@media (min-width: $breakpoint768) {
				font-size: 16px;
			}
			@media (min-width: $breakpoint1920) {
				font-size: 24px;
			}
		}
	}

	&__price-month {
		font-weight: 900;
		font-size: 12px;
		text-transform: uppercase;
		@media (min-width: $breakpoint768) {
			font-size: 16px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 20px;
		}
	}

	&__footer {
		font-size: 9px;
		line-height: 16px;
		color: #FF3E3E;
		@media (min-width: $breakpoint768) {
			font-size: 12px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 14px;
		}
		span {
			font-weight: 500;
			font-size: 12px;
			margin-right: 5px;
			display: block;
			@media (min-width: $breakpoint768) {
				font-size: 14px;
				display: inline;
			}
			@media (min-width: $breakpoint1920) {
				font-size: 18px;
			}
			sup {
				font-size: 8px;
				margin-right: 2px;
				@media (min-width: $breakpoint768) {
					font-size: 10px;
				}
				@media (min-width: $breakpoint1920) {
					font-size: 12px;
				}
			}
		}
	}
}

