.platform {
	display: grid;
	align-items: center;
	min-height: unset;
	color: $white-color;
	@media (min-width: $breakpoint768) {
		min-height: 100vh;
	}
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 9px;
		@media (min-width: $breakpoint768) {
			margin-top: 99px;
		}
		@media (min-width: $breakpoint1310) {
			flex-direction: row;
			margin-top: 0;
		}
	}

	&__description {
		position: relative;
		z-index: 1;
	}

	&__title {
		margin-bottom: 20px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 30px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 40px;
		}
	}

	&__cards {
		display: flex;
		font-weight: 500;
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 16px;
		@media (min-width: $breakpoint768) {
			font-size: 14px;
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 30px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 40px;
		}
	}

	&__cards-item {
		padding: 9px 12px 10px 17px;
		min-width: 140px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1.52%, rgba(255, 255, 255, 0) 93.94%);
		position: relative;
		@media (min-width: $breakpoint768) {
			min-width: 165px;
			padding: 12px 12px 13px 17px;
		}
		@media (min-width: $breakpoint1920) {
			padding: 20px 38px 21px 25px;
		}
		&:first-child {
			margin-right: 0px;
			@media (min-width: $breakpoint1310) {
				margin-right: 20px;
			}
			@media (min-width: $breakpoint1920) {
				margin-right: 50px;
			}
		}
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 2px;
			top: 0;
			left: 0;
			background: linear-gradient(#2095D9 0%, #5C35EE 100%);
			@media (min-width: $breakpoint1310) {
				width: 4px;
			}
		}
	}

	&__price {
		margin-bottom: 15px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 40px;
		}
	}

	&__price-title {
		font-family: Montserrat;
		font-weight: 900;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		margin-bottom: 6px;
		@media (min-width: $breakpoint768) {
			font-size: 16px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__price-price {
		font-family: Montserrat;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		@media (min-width: $breakpoint1920) {
			font-size: 18px;
			line-height: 24px;
		}
		span {
			font-size: 30px;
			font-weight: 700;
			margin-right: 6px;
			@media (min-width: $breakpoint1920) {
				font-size: 50px;
				margin-right: 0;
			}
		}
		sup {
			font-size: 14px;
			margin-right: 5px;
			@media (min-width: $breakpoint1920) {
				font-size: 20px;
			}
		}
		span + span {
			color: #FF3E3E;
			text-decoration: line-through;
			font-size: 18px;
			@media (min-width: $breakpoint1920) {
				font-size: 24px;
			}
		}
	}

	&__price-subscription {
		font-family: Roboto;
		font-weight: 400;
		font-size: 12px;
		color: #9b99ad;
		@media (min-width: $breakpoint1920) {
			font-size: 16px;
		}
	}

	&__button {
	}

	&__button-btn {
	}

	&__image {
		max-width: 645px;
		width: 100%;
		margin-right: 0;
		@media (min-width: $breakpoint768) {
			margin-right: -165px;
		}
		@media (min-width: $breakpoint1310) {
			margin-top: 0;
			margin-right: 0;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 924px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}

