.power {
	padding-bottom: 40px;
	padding-top: 80px;
	@media (min-width: $breakpoint768) {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	@media (min-width: $breakpoint1310) {
		padding-bottom: 70px;
		padding-top: 70px;
	}
	@media (min-width: $breakpoint1920) {
		padding-bottom: 120px;
		padding-top: 120px;
	}
	&__title {
		// margin-bottom: 2px;
		text-align: center;
		// @media (min-width: $breakpoint768) {
		// 	margin-bottom: 50px;
		// }
		// @media (min-width: $breakpoint1310) {
		// 	margin-bottom: 80px;
		// }
		// @media (min-width: $breakpoint1920) {
		// 	margin-bottom: 100px;
		// }
	}

	&__container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-top: 2px;
		@media (min-width: $breakpoint768) {
			padding-top: 50px;
			}
		@media (min-width: $breakpoint1310) {
			padding-top: 80px;
			flex-direction: row;
		}
		@media (min-width: $breakpoint1920) {
			padding-top: 100px;
			}
	}

	&__image {
		max-width: 100%;
		width: 100%;
		@media (min-width: $breakpoint1310) {
			width: 50%;
		}
	}

	&__image-box {
		max-width: 645px;
		width: 100%;
		margin-left: auto;
		@media (min-width: $breakpoint1310) {
			width: 150%;
			margin-left: 0;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 1122px;
		}

		&-img {
			display: inline-block;
			width: 100%;
			height: auto;
			margin-left: 0;
			@media (min-width: $breakpoint1310) {
				margin-left: calc(-50vw + 570px);
			}
			@media (min-width: $breakpoint1920) {
				margin-left: calc(-50vw + 805px);
			}
		}

		&--sm {
			display: inline-block;
			@media (min-width: $breakpoint1310) {
				display: none;
			}
		}
		&--lg {
			display: none;
			@media (min-width: $breakpoint1310) {
				display: inline-block;
			}
		}
	}


	&__list {
		width: 100%;
		max-width: 100%;
		margin-top: 10px;
		@media (min-width: $breakpoint768) {
			margin-top: 40px;
		}
		@media (min-width: $breakpoint1310) {
			max-width: 580px;
			width: 50%;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 665px;
			margin-top: 80px;
		}
	}

	&__item {
		padding-left: 62px;
		color: $white-color;
		position: relative;
		margin-bottom: 18px;
		@media (min-width: $breakpoint768) {
			padding-left: 130px;
			margin-bottom: 50px;
		}
		@media (min-width: $breakpoint1920) {
			padding-left: 150px;
			margin-bottom: 60px;
		}
		&:first-child {
			margin-bottom: 28px;
			@media (min-width: $breakpoint768) {
				margin-bottom: 50px;
			}
			@media (min-width: $breakpoint1920) {
				margin-bottom: 60px;
			}
		}
		&:last-child {
			margin-bottom: 0px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 45px;
			height: 31px;
			background: url('@img/power_devices.svg') 0 0/cover no-repeat;
			@media (min-width: $breakpoint768) {
				width: 100px;
				height: 67px;
			}
			@media (min-width: $breakpoint1920) {
				width: 120px;
				height: 85px;
			}
		}
	}
	&__item + .power__item {
		&::before {
			background: url('@img/power_downloads_1.svg') 0 0/cover no-repeat;
			@media (min-width: $breakpoint1920) {
				height: 80px;
			}
		}
	}
	&__item + .power__item + .power__item {
		&::before {
			background: url('@img/power_downloads_2.svg') 0 0/cover no-repeat;
			@media (min-width: $breakpoint1920) {
				height: 82px;
			}
		}
	}

	&__item-title {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 10px;
		@media (min-width: $breakpoint768) {
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 15px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 36px;
			line-height: 44px;
			margin-bottom: 18px;
		}
	}

	&__item-content {
		color: #9B99AD;
	}
}

.content {

	&__platform {
		margin-top: 10px;
		max-width: 114px;
		@media (min-width: $breakpoint768) {
			margin-top: 15px;
			max-width: 229px;
		}
		svg {
			width: 100%;
			height: auto
		}
		@media (min-width: $breakpoint1920) {
			margin-top: 22px;
		}
	}

	&__note {
		margin-top: 15px;
		font-size: 12px;
		line-height: 14px;
		@media (min-width: $breakpoint1920) {
			margin-top: 20px;
			font-size: 18px;
			line-height: 21px;
		}
	}
}

// animation list

.power__list li {
	transform: translate(120%, 0px);
}
.power__list li:nth-child(1) {
	transition: all 0.4s;
}
.power__list li:nth-child(2) {
	transition: all 0.8s;
}
.power__list li:nth-child(3) {
	transition: all 1.2s;
}

.power__list.left-scroll li {
	transform: translate(0%, 0px);
}