.unlimited {
	padding-top: 70px;
	padding-bottom: 65px;
	color: $white-color;
	@media (min-width: $breakpoint1310) {
		padding-top: 45px;
		padding-bottom: 30px;
	}
	@media (min-width: $breakpoint1920) {
		padding-top: 163px;
		padding-bottom: 60px;
	}
	&__title {
		text-align: center;
		margin-bottom: 50px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 60px;
		}
	}

	&__title-title {
		margin-bottom: 10px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 5px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 20px;
		}
	}

	&__title-note {
		font-size: 16px;
		@media (min-width: $breakpoint1920) {
			font-size: 24px;
		}
	}

	&__wrap {
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		@media (min-width: $breakpoint1310) {
			max-width: 730px;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 1020px;
		}
	}

	&__right-border {
		position: absolute;
		top: 100px;
		right: 40px;
		z-index: -1;
		max-width: 199px;
		pointer-events: none;
		@media (min-width: $breakpoint1310) {
			top: -20px;
			right: -95px;
			z-index: 2;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 277px;
			top: -42px;
			right: -145px;
		}
		img {
			width: 100%;
			height: auto;
			display: none;
			@media (min-width: $breakpoint1310) {
				display: inline-block;
			}
		}
		img + img {
			display: inline-block;
			@media (min-width: $breakpoint1310) {
				display: none;
			}
		}
	}

	&__swiper {
		position: relative;
		overflow: hidden;
		list-style: none;
		padding-top: 46px;
		z-index: 1;
		max-width: 1020px;
		width: 100%;
		min-height: 341px;
		border-width: 1px;
		border-style: solid;
		border-image: 
			linear-gradient(
				180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%
			) 1 1 0;
			@media (min-width: $breakpoint1920) {
				padding-top: 64px;
				min-height: 471px;
			}
	}

	&__footer {
		padding: 24px 46px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.37%, rgba(255, 255, 255, 0.09) 50.85%, rgba(255, 255, 255, 0) 100%);
		margin-top: 150px;
		@media (min-width: $breakpoint1310) {
			margin-top: 0;
		}
		@media (min-width: $breakpoint1920) {
			padding: 46px 0;
		}
	}

	&__footer-list {
		font-family: Montserrat;
		font-weight: 700;
		max-width: 865px;
		font-size: 14px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@media (min-width: $breakpoint1920) {
			max-width: 1200px;
			font-size: 20px;
		}
	}

	&__footer-item {
		display: flex;
		align-items: center;
	}

	&__footer-item-img {
		margin-right: 20px;
		@media (min-width: $breakpoint1310) {
			margin-right: 25px;
		}
		&--win {
			svg {
				width: 50px;
				height: 50px;
				@media (min-width: $breakpoint1920) {
					width: 67px;
					height: 67px;
				}
			}
		}
		&--apple {
			svg {
				width: 42px;
				height: 50px;
				@media (min-width: $breakpoint1920) {
					width: 57px;
					height: 68px;
				}
			}
		}
		&--linux {
			svg {
				width: 48px;
				height: 50px;
				@media (min-width: $breakpoint1920) {
					width: 66px;
					height: 68px;
				}
			}
		}
		&--android {
			svg {
				width: 42px;
				height: 50px;
				@media (min-width: $breakpoint1920) {
					width: 58px;
					height: 68px;
				}
			}
		}
	}

	&__footer-item-txt {
		span {
			display: block;
		}
		span + span {
			font-weight: 400;
			font-size: 12px;
			@media (min-width: $breakpoint1310) {
				font-size: 14px;
			}
			@media (min-width: $breakpoint1920) {
				font-size: 20px;
			}
		}
	}
}


// tabs content for swiper
.swiper-wrapper {
}

.swiper-slide {
	padding: 58px 57px 0;
	@media (min-width: $breakpoint1310) {
		padding: 40px 43px 0;
	}
	@media (min-width: $breakpoint1920) {
		padding: 55px 60px 0;
	}
	&__container {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		@media (min-width: $breakpoint1310) {
			flex-direction: row;
			margin-bottom: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 31px;
		}
	}

	&__container-img-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 0;
			margin-right: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-right: 30px;
		}
	}

	&__container-img {
		max-width: 308px;
		@media (min-width: $breakpoint1920) {
			max-width: 428px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__container-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__container-item {
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		@media (min-width: $breakpoint1920) {
			margin-bottom: 25px;
			font-size: 18px;
			line-height: 21px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			border-radius: 50%;
			background: linear-gradient(90deg, #2095D9 0%, #5C35EE 100%);
			@media (min-width: $breakpoint1920) {
				width: 28px;
				height: 28px;
				margin-right: 14px;
			}
		}
	}

	&__btn {
		text-align: left;
		@media (min-width: $breakpoint1310) {
			text-align: center;
		}
	}

	&__btn-btn {
	}
}

.unlimited__swiper .swiper__pagination {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	padding: 0 50px;
	position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
	top: 0;
	bottom: auto;
  left: 0;
  width: 100%;
	display: flex;
	justify-content: space-around;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.37%, rgba(255, 255, 255, 0.3) 50.85%, rgba(255, 255, 255, 0) 100%);
}
.swiper-button-prev {
}
.swiper-button-next {
}

.swiper-pagination-bullet {
	border-radius: 0;
	width: auto;
	height: 46px;
	font-size: 14px;
	line-height: 17px;
	color:#9B99AD;
	opacity: 1;
	background: transparent;
	display: flex;
	align-items: center;
	@media (min-width: $breakpoint1920) {
		height: 64px;
		font-size: 20px;
		line-height: 30px;
	}
}
.swiper-pagination-bullet-active {
	color:#fff;
}

// .swiper-button-next {
// 	position: absolute;
// 	z-index: 30;
// 	top: 0;
// 	right: 0;
// }


//tabs 2,3,4

.devices {

		&__wrap {
			max-width: 550px;
			margin: 0 auto;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			margin-bottom: 46px;
			max-width: 280px;
			@media (min-width: $breakpoint1310) {
				flex-direction: row;
				margin-bottom: 20px;
				max-width: 100%;
			}
		}

		&__image {
			margin-right: 0;
			margin-bottom: 45px;
			max-width: 211px;
			flex-shrink: 0;
			@media (min-width: $breakpoint1310) {
				margin-bottom: 0;
				margin-right: 33px;
			}
			img {
				width: 100%;
				height: auto;
			}
		}

		&__text {
			font-size: 12px;
			line-height: 20px;
			display: flex;
			align-items: center;
		}

		&__links {
			display: flex;
			justify-content: space-between;
		}

		&__center {
			justify-content: center;
		}

		&__item {
		}

		&__center-item {
			width: auto;
			margin-right: auto;
			@media (min-width: $breakpoint1310) {
				width: 100%;
				margin-right: 0;
			}
			a {
				display: block;
				text-align: center;
				font-size: 12px;
				font-weight: 700;
				color: $white-color;
			}
		}

		&__item-link {
			.icon-apple svg {
				width: 23px;
			}
			.icon-android svg {
				width: 22px;
			}
		}
}



