.unlimited {
	padding-top: 40px;
	padding-bottom: 0;
	color: $white-color;
	@media (min-width: $breakpoint768) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media (min-width: $breakpoint1310) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@media (min-width: $breakpoint1920) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	&__title {
		text-align: center;
		margin-bottom: 20px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 50px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 60px;
		}
	}

	&__title-title {
		margin-bottom: 10px;
		@media (min-width: $breakpoint1310) {
			margin-bottom: 5px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 20px;
		}
	}

	&__title-note {
		font-size: 14px;
		@media (min-width: $breakpoint768) {
			font-size: 16px;
		}
		@media (min-width: $breakpoint1920) {
			font-size: 24px;
		}
	}

	&__wrap {
		margin: 0 -20px;
		position: relative;
		@media (min-width: $breakpoint768) {
			max-width: 600px;
			margin: 0 auto;
		}
		@media (min-width: $breakpoint1310) {
			max-width: 730px;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 1020px;
		}
	}

	&__right-border {
		display: none;
		position: absolute;
		top: 100px;
		right: 40px;
		z-index: -1;
		max-width: 199px;
		pointer-events: none;
		@media (min-width: $breakpoint768) {
			display: block;
		}
		@media (min-width: $breakpoint1310) {
			top: -20px;
			right: -95px;
			z-index: 2;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 277px;
			top: -42px;
			right: -145px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__right-border--first {
		display: none;
		@media (min-width: $breakpoint1310) {
			display: inline-block;
		}
	}

	&__right-border--second {
		display: inline-block;
		@media (min-width: $breakpoint1310) {
			display: none;
		}
	}

	&__swiper {
		position: relative;
		overflow: hidden;
		list-style: none;
		padding-top: 46px;
		z-index: 1;
		max-width: 1020px;
		width: 100%;
		min-height: 341px;
		border-width: 1px;
		border-style: solid;
		border-image: 
			linear-gradient(
				180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%
			) 1 0 0;
			@media (min-width: $breakpoint768) {
				border-image: 
			linear-gradient(
				180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%
			) 1 1 0;
			}
			@media (min-width: $breakpoint1920) {
				padding-top: 64px;
				min-height: 471px;
			}
	}

	&__footer {
		position: relative;
		overflow: hidden;
		padding: 24px 46px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.37%, rgba(255, 255, 255, 0.09) 50.85%, rgba(255, 255, 255, 0) 100%);
		margin-top: 20px;
		@media (min-width: $breakpoint768) {
			margin-top: 150px;
		}
		@media (min-width: $breakpoint1310) {
			margin-top: 0;
		}
		@media (min-width: $breakpoint1920) {
			padding: 46px 0;
		}
	}

	&__footer-right-img {
		position: absolute;
		z-index: -1;
		top: 24px;
		right: -50px;
		max-width: 121px;
		@media (min-width: $breakpoint768) {
			display: none;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__footer-list {
		font-family: Montserrat;
		font-weight: 700;
		max-width: 200px;
		font-size: 14px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (min-width: $breakpoint768) {
			max-width: 865px;
			flex-direction: row;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 1200px;
			font-size: 20px;
		}
	}

	&__footer-item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 0;
		}
	}

	&__footer-item-img {
		margin-right: 20px;
		@media (min-width: $breakpoint1310) {
			margin-right: 25px;
		}
		svg {
			width: 50px;
			height: 50px;
			@media (min-width: $breakpoint1920) {
				width: 67px;
				height: 67px;
			}
		}
	}

	&__footer-item-txt {
		span {
			display: block;
		}
		span + span {
			font-weight: 400;
			font-size: 14px;
			@media (min-width: $breakpoint768) {
				font-size: 12px;
			}
			@media (min-width: $breakpoint1310) {
				font-size: 14px;
			}
			@media (min-width: $breakpoint1920) {
				font-size: 20px;
			}
		}
	}
}


// tabs content for swiper
.swiper-wrapper {
}

.swiper-slide {
	padding: 20px 20px 0;
	@media (min-width: $breakpoint768) {
		padding: 58px 57px 0;
	}
	@media (min-width: $breakpoint1310) {
		padding: 40px 43px 0;
	}
	@media (min-width: $breakpoint1920) {
		padding: 55px 60px 0;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 0 25px;
		@media (min-width: $breakpoint768) {
			margin: 0 0 40px;
			align-items: start;
		}
		@media (min-width: $breakpoint1310) {
			flex-direction: row;
			margin-bottom: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 31px;
		}
	}

	&__container-img-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
		@media (min-width: $breakpoint768) {
			margin-bottom: 40px;
		}
		@media (min-width: $breakpoint1310) {
			margin-bottom: 0;
			margin-right: 20px;
		}
		@media (min-width: $breakpoint1920) {
			margin-right: 30px;
		}
	}

	&__container-img {
		max-width: 260px;
		@media (min-width: $breakpoint768) {
			max-width: 308px;
		}
		@media (min-width: $breakpoint1920) {
			max-width: 428px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__container-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__container-item {
		font-weight: 700;
		font-size: 11px;
		line-height: 14px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		@media (min-width: $breakpoint768) {
			font-size: 12px;
		}
		@media (min-width: $breakpoint1920) {
			margin-bottom: 25px;
			font-size: 18px;
			line-height: 21px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			border-radius: 50%;
			background: linear-gradient(90deg, #2095D9 0%, #5C35EE 100%);
			@media (min-width: $breakpoint1920) {
				width: 28px;
				height: 28px;
				margin-right: 14px;
			}
		}
	}

	&__btn {
		text-align: center;
		@media (min-width: $breakpoint768) {
			text-align: left;
		}
		@media (min-width: $breakpoint1310) {
			text-align: center;
		}
	}

	&__btn-btn {
	}
}

.unlimited__swiper .swiper__pagination {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	min-height: 46px;
	padding: 0 50px;
	position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
	top: 0;
	bottom: auto;
  left: 0;
  width: 100%;
	display: flex;
	justify-content: space-around;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.37%, rgba(255, 255, 255, 0.3) 50.85%, rgba(255, 255, 255, 0) 100%);
	@media (min-width: $breakpoint768) {
		min-height: unset;
	}
}

// navigation arrows
.swiper-button-prev, .swiper-button-next{
	display: block;
	position: absolute;
	top: 12px;
	left: 16px;
	z-index: 20;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	@media (min-width: $breakpoint768) {
		display: none;
	}
	svg path {
		fill-opacity: 1;
	}
}
.swiper-button-next {
	left: auto;
	right: 16px;
}

.swiper-button-disabled {
	svg path {
		fill-opacity: 0.5;
	}
}

// custom pagination tabs
.swiper-pagination-bullet {
	border-radius: 0;
	width: auto;
	height: 46px;
	font-size: 14px;
	line-height: 17px;
	color:#9B99AD;
	opacity: 1;
	background: transparent;
	display: none;
	align-items: center;
	@media (min-width: $breakpoint768) {
		display: flex;
	}
	@media (min-width: $breakpoint1920) {
		height: 64px;
		font-size: 20px;
		line-height: 30px;
	}
}
.swiper-pagination-bullet-active {
	color:#fff;
}

//! tabs 2,3,4 

.devices {

		&__wrap {
			padding: 0 20px;
			@media (min-width: $breakpoint768) {
				max-width: 550px;
				margin: 0 auto;
				padding: 0;
			}
			@media (min-width: $breakpoint1920)  {
				max-width: 725px;
			}
		}

		&__inner {
			display: flex;
			flex-direction: column;
			margin: 0 auto 15px;
			max-width: 280px;
			text-align: center;
			align-items: center;
			@media (min-width: $breakpoint768) {
				margin: 0 0 46px;
				text-align: left;
				align-items: start;
			}
			@media (min-width: $breakpoint1310) {
				flex-direction: row;
				margin-bottom: 20px;
				max-width: 100%;
				align-items: center;
			}
			@media (min-width: $breakpoint1920) {
				margin-bottom: 30px;
			}
		}

		&__image {
			margin-right: 0;
			margin-bottom: 20px;
			max-width: 165px;
			flex-shrink: 0;
			@media (min-width: $breakpoint768) {
				max-width: 211px;
				margin-bottom: 45px;
			}
			@media (min-width: $breakpoint1310) {
				margin-bottom: 0;
				margin-right: 33px;
			}
			@media (min-width: $breakpoint1920)  {
				max-width: 293px;
				width: 100%;
				margin-right: 58px;
			}
			&--tv {
				@media (min-width: $breakpoint1920)  {
					max-width: 238px;
					margin-right: 105px;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}

		&__image-beta {
			margin-left: -20px;
			@media (min-width: $breakpoint768) {
				margin: 0;
			}
		}

		&__text {
			font-size: 12px;
			line-height: 20px;
			display: flex;
			align-items: center;
			@media (min-width: $breakpoint1920) {
				font-size: 18px;
				line-height: 28px;
			}
		}

		&__links {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 210px;
			margin: 0 auto;
			@media (min-width: $breakpoint768) {
				flex-direction: row;
				max-width: unset;
				margin: 0;
			}
		}

		&__center {
			justify-content: center;
		}

		&__item {
			margin-bottom: 6px;
			width: 100%;
			@media (min-width: $breakpoint768) {
				margin-bottom: 0;
			}
		}

		&__center-item {
			width: auto;
			margin-right: auto;
			@media (min-width: $breakpoint1310) {
				width: 100%;
				margin-right: 0;
			}
		}

		&__item-link {
			.icon-apple svg {
				width: 13px;
				@media (min-width: $breakpoint768) {
					width: 23px;
				}
				@media (min-width: $breakpoint1920) {
					width: 28px;
				}
			}
			.icon-android svg {
				width: 12px;
				@media (min-width: $breakpoint768) {
					width: 22px;
				}
				@media (min-width: $breakpoint1920) {
					width: 28px;
				}
			}
			&--custom-link {
				padding: 20px 44px;
				font-size: 12px;
				line-height: 20px;
				display: block;
				text-align: center;
				font-weight: 700;
				&::before {
					opacity: 0.4;
				}
				@media (min-width: $breakpoint768) {
					padding: 10px 37px;
					line-height: 18px;
					max-width: 100%;
				}
				@media (min-width: $breakpoint1310) {
					font-size: 16px;
					padding: 16px 28px;
				}
				@media (min-width: $breakpoint1920) {
					font-size: 18px;
					padding: 24px 28px 23px;
				}
			}
		}
}

//? animation on unlimited__footer-list
.unlimited__footer-list li {
	opacity: 0;
	transition: all .3s;
}

.unlimited__footer-list.fade-effect-off li:nth-child(1) {
	animation: .4s ease 0s normal forwards 1 fadein;
}
.unlimited__footer-list.fade-effect-off li:nth-child(2) {
	animation: .5s ease 0s normal forwards 1 fadein;
}
.unlimited__footer-list.fade-effect-off li:nth-child(3) {
	animation: .6s ease 0s normal forwards 1 fadein;
}
.unlimited__footer-list.fade-effect-off li:nth-child(4) {
	animation: .7s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
	0% { opacity:0; }
	50% { opacity:0; }
	100% { opacity:1; }
}