.readon {
	padding: 50px 0;
	color: $white-color;
	background: url('@img/partner-page/partnerPage_bg_2.jpg') no-repeat 50%/cover;
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(11, 7, 32, .94);
		z-index: -1;
	}

	&__title {
		margin-bottom: 10px;
		text-align: center;
	}

	&__txt {
		margin-bottom: 30px;
		font-size: 12px;
		line-height: 28px;
		text-align: center;
	}

	&__accordion {
	}

	&__box {
		padding: 10px;
		background: linear-gradient(90deg, rgba(106, 18, 159, 0.5) 0%, rgba(32, 149, 217, 0) 100%);
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__box-title {
		font-family: Montserrat;
		font-weight: 800;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
		font-size: 8px;
		text-transform: uppercase;
		line-height: 12px;
		position: relative;
		&::before, &::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 3px;
			width: 2px;
			height: 6px;
			background: $white-color;
			border-radius: 1px;
			transition: transform .2s linear;
		}
		&:after {
			width: 6px;
			height: 2px;
			right: 1px;
		}
		&.active {
			&::before, &::after {
				transform: translateY(-50%) rotate(45deg);
			}
		}
	}

	&__box-list {
		max-height: 0;
		overflow: hidden;
		transition: all .2s linear;
	}

	&__box-item {
		font-size: 10px;
		line-height: 12px;
		color: #9B99AD;
		padding-top: 10px;
		+li {
			margin-top: 10px;
		}
		a {
			color: #00A3FF;
			text-decoration: none;
		}

		span {
			color: $white-color;
			font-weight: 700;
		}
	}
}
